.kr {
	font-family: 'Noto Serif KR', serif;
	font-display: block;
	color: $font-color-default;
	word-break: keep-all;
}

.en {
	font-family: 'Cormorant Garamond', serif;
	font-weight: 500;
	font-style: normal;
	font-display: block;
	color: $font-color-default;
}

.en-sacramento {
	font-family: 'Sacramento', serif;
	font-weight: 400;
	font-style: normal;
	color: $font-color-default;
}

:root {
	font-size: 0.9375em; // 15px when default is 16px

	@include for-range($mobile-md) {
		font-size: 1em;
	}

	@include for-range($mobile-lg) {
		font-size: 1.0625em; // 17px when default is 16px
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	-webkit-text-size-adjust: 100%;
}

html,
body {
	touch-action: manipulation; /* 핀치 줌 방지 */
	-ms-touch-action: manipulation; /* IE 호환성 */
	overscroll-behavior: none; /* 스크롤 확장 방지 */
	height: 100%; /* 전체 높이 설정 */
	overflow-x: hidden; /* 가로 스크롤 방지 */
	overflow-y: overlay; /* 세로 스크롤바가 콘텐츠 위에 겹쳐서 표시되도록 */
	background: #f3f3f3;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	background-color: $bg-color-1;
	opacity: 0;
	transition: opacity 0.5s ease-in;
	max-width: 100vw; /* 뷰포트 너비 제한 */
}

body {
	opacity: 0;
	transition: opacity 0.5s ease-in;
}

body.loaded {
	opacity: 1;
}

img,
picture,
video,
canvas {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

input[type='text'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}

button,
input[type='submit'],
input[type='reset'] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

section.cover,
section.letter,
section.rsvp,
section.gallery,
section.calendar,
section.location {
	max-width: $content-max-width;
	margin: auto;
}

/* 스크롤 시 페이드인 애니메이션 */
.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in-section.in-view {
    opacity: 1;
    transform: translateY(0);
}
